html {
    width: 100%;
    word-break: break-all;
    text-align: justify;
}

img {
    width: 96%;
    margin-left: 2%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}
blockquote {
    background: #f8f8f8;
    padding: 5px;
}

